.collection-banner__content.color-scheme {
  padding: var(--gutter-sm, 20px);
}
.collection-banner__content.color-scheme h1 {
  padding-top: calc(4 * var(--space-unit));
}

.collection-banner__media {
  order: 2;
}

.collection-banner__heading {
  margin-inline-end: 5px;
}

.collection-banner__count {
  color: rgba(var(--heading-color) / 0.6);
  font-size: 1.4rem;
  line-height: 1.4rem;
  white-space: nowrap;
}

.collection-secondary-nav .col-nav li {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 7px 14px;
}

.collection-secondary-nav .col-nav li:has(.active) {
  border: 1px solid #1F8A81;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 7px 14px;
}

.collection-secondary-nav .col-nav li:has(.active) {
  border: 1px solid #1F8A81;
  fill: #1F8A81;
  background-color: #1F8A81;
}
.collection-secondary-nav .col-nav li:has(.active) a{
  color: #FFFFFF;
  text-decoration: none;
}

.collection-secondary-nav .col-nav li:hover {
  border: 1px solid #1B413E;
  fill: #1B413E;
  background-color: #1B413E;
}

.collection-secondary-nav .col-nav li:hover a {
  text-decoration: none !important;
  color: #FFFFFF;
}
@media (min-width: 600px) {
  .collection-banner__content--with-media {
    padding-inline-end: calc(8 * var(--space-unit));
  }
  .collection-banner__content.color-scheme {
    padding: calc(10 * var(--space-unit));
  }
  .collection-banner__content.color-scheme h1 {
    padding-top: calc(2 * var(--space-unit));
  }
}
@media (min-width: 769px) {
  .collection-banner__content {
    width: 50%;
    min-width: 400px;
  }
  .collection-banner__content.color-scheme {
    padding: calc(12 * var(--space-unit));
  }
  .collection-banner__content-wide {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .collection-banner__content--with-media.text-start,
  .collection-banner__content--with-media.panel.text-start {
    padding-inline-end: 112px;
  }
}
