.collection-page-main-sauna-feature-item__financing .affirm-as-low-as.custom-affirm {
    text-align: left;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
}

.card__info-inner .price.price--top {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 15px;
}